<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container">
    <a
      href="http://isuy.com.br"
      class="landing-block-node-menu-logo-link navbar-brand u-header__logo g-max-width-180 g-mr-60 p-0"
      target="_self"
    >
      <img
        class="landing-block-node-menu-logo img-fluid u-header__logo-img u-header__logo-img--main"
        src="https://cdn.bitrix24.com.br/b6486989/landing/931/93185c56423a4d824c7618a6f37da580/Adven.tech_Branco.png"
        alt="Adven.tech"
        srcset="
          https://cdn.bitrix24.com.br/b6486989/landing/e36/e36ade578761f52b6439a6912aece2e0/Adven.tech_Branco_2x.png 2x
        "
        data-fileid="3071813"
        data-pseudo-url='{"text":"","href":"","target":"_self","enabled":false}'
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault"
      aria-expanded="false"
      aria-label="Alternar de navegação"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            ><font style="vertical-align: inherit"
              ><font style="vertical-align: inherit"> </font></font
            >Empresa</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><font style="vertical-align: inherit"
              ><font style="vertical-align: inherit">Equipe</font></font
            ></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><font style="vertical-align: inherit"
              ><font style="vertical-align: inherit">Carreira</font></font
            ></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
